body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#sidebar-nav {
  width: 18rem;
  font-size: large;
  margin-bottom: 8rem;
}


#ini,#fin{
  background: #216ca5;
  width: 8rem;
  font-size: bold;
  color:white;
  border-radius: 8%;
}

